/*------ Document -----*/
body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: #797267;
}

h2 {
	font-size: 1.5em;
	color: #423b2e;
}
/*----Header----*/
header {
	background: url("../images/header-bg.jpg");
	width: 960px;
	height: 210px;
}

h1 {
	background: url("../images/logo.gif") no-repeat;
	float: left;
	width: 317px;
	height: 71px;
	margin: 64px 0px 0px 64px;
}

h1 a {
	visibility: hidden;
}
/*----Navigation----*/
nav{
	padding: 84px 64px 0px 0px;
	list-style-type: none;
	float: right;
	clear: right;
	overflow: auto;
}

li {
	display: inline;
	width: 277px;
	margin: 10px;
}

nav a:link {
	color: #423b2e;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#current {
	color: #bf3102;
}
/*----Banner----*/
#banner {
	background-image: url("../images/banner.jpg");
	margin: 0px auto;
	width: 890px;
	height: 200px;
}
/*-----Main Content----*/
#main-content {
	background-image: url("../images/main-content-bg.jpg");
	width: 960px;
	height: 750px;
}

h2, #column2of2 p {
	border-bottom: 2px solid #423b2e;
	padding: 10px 0px 10px 0px;
}

/*----Columns----*/
#column1of2 {
	float: left;
	overflow: auto;
	width: 450px;
	margin: 0px 0px 0px 64px;
	padding: 0px 0px 45px 25px;
}

#column2of2 {
	float: left;
	overflow: auto;
	width: 260px;
	margin: 0px 0px 0px 44px;
	padding: 0px 0px 45px 25px;
}

/*----Column 2 Images----*/
